<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agent Link Data</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

</head>
<body>

<div class="header">
  <div class="header-title">Agent Link Data</div>
  <div class="button-group">
    <button type="button" onclick="btnStart()">
      <i class="fas fa-play"></i> Start
    </button>
    <button type="button" onclick="btnStop()">
      <i class="fas fa-stop"></i> Stop
    </button>
    <button type="button" onclick="btnSetting()">
      <i class="fas fa-cog"></i> Setting
    </button>
  </div>
</div>


<div class="log-panel">
  <div class="log-header">Transfer Log</div>
  <div class="log-box-table" id="logBoxTable">
    <div class="log-row log-header-row">
      <div class="log-col wide">Time</div>
      <div class="log-col">Direction</div>
      <div class="log-col wide">Remote file</div>
      <div class="log-col">Size</div>
      <div class="log-col">Priority</div>
    </div>

  </div>
</div>

<div id="addModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">x</span>
    <h2>Setting</h2>

    <form id="addForm">
      <div class="form-row">
        <div class="form-group">
          <label>Host</label>
          <input type="text" name="host" required>
        </div>

        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" required>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" required>
        </div>

        <div class="form-group">
          <label>Port</label>
          <input type="number" name="port" required>
        </div>

        <div class="form-group">
          <label>&nbsp;</label>
          <button type="submit">Save</button>
        </div>
      </div>

    </form>

    <table id="dataTable">
      <thead>
      <tr>
        <th>Host</th>
        <th>Username</th>
        <th>Password</th>
        <th>Port</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>192.168.1.1</td>
        <td>admin</td>
        <td>••••••</td>
        <td>21</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<script th:src="@{/js/AddSetting.js}"></script>
</body>
</html>
