<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Quản lý</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

</head>
<body>

<div class="header">
  <div class="header-title">Agent Link Data</div>
  <div class="button-group">
    <button type="button" onclick="btnStart()">
      <i class="fas fa-play"></i> Start
    </button>
    <button type="button" onclick="btnStop()">
      <i class="fas fa-stop"></i> Stop
    </button>
    <button type="button" onclick="btnSetting()">
      <i class="fas fa-cog"></i> Setting
    </button>
  </div>
</div>


<div class="log-panel">
  <div class="log-header">Transfer Log</div>
  <div class="log-box-table" id="logBoxTable">
    <div class="log-row log-header-row">
      <div class="log-col wide">Server/Local file</div>
      <div class="log-col">Direction</div>
      <div class="log-col wide">Remote file</div>
      <div class="log-col">Size</div>
      <div class="log-col">Priority</div>
      <div class="log-col">Time</div>
    </div>

  </div>
</div>

<!-- Modal thêm mới -->
<div id="addModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Thêm thông tin</h2>
    <form id="addForm">
      <label>Họ tên:</label><br>
      <input type="text" name="name" required><br><br>

      <label>Email:</label><br>
      <input type="email" name="email" required><br><br>

      <label>Tuổi:</label><br>
      <input type="number" name="age" required><br><br>

      <button type="submit">Lưu</button>
    </form>
  </div>
</div>

<script th:src="@{/js/AddSetting.js}"></script>
</body>
</html>
